.grid-container{
    display: grid;

    grid-template-areas: 
    'header header'
    'sidebar productos'
    'footer footer';

}

.grid-container2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(197, 195, 193);
}

.grid-item {
background-color: aliceblue;
text-align: center;
margin: 10px;
}

.grid-item img{
    height: 55%;
    width: 55%;
}

.boton{
    background-color: rgb(95, 95, 194);
    color: rgb(203, 208, 212);
}

.productos{
    grid-area: main;
    background-color: rgb(253, 253, 253);
}

.sidebar{
    grid-area: sidebar;
    background-color: grey;
}

.footer{
    grid-area: footer;
    background-color: whitesmoke;
}

.header{
    grid-area: header;
    background-color: rgb(90, 134, 201);
}

.container-fluid{
margin: 2%;
}

.container-fluid2{
margin: 2%;
text-align: center;
}